<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bcpdocumentdownload-preprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3460df7-5e0c-49f1-9016-55bc9af56600/resourceGroups/SDX_MONACA_MIGRATION_SERVICE/providers/Microsoft.Web/sites/bcpdocumentdownload/slots/preprod</ResourceId>
    <UserName>$bcpdocumentdownload__preprod</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://bcpdocumentdownload-preprod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>