<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-ais-ent-ds-dtwin-doa-bcpdownloadsdxfiles.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/afeae369-3a58-4f5c-a4bc-8ac1803a9651/resourceGroups/RG-AIS-ENT-DEV-DS-DTWIN-DOA/providers/Microsoft.Web/sites/FUNC-AIS-ENT-DS-DTWIN-DOA-BCPDownloadSDxFiles</ResourceId>
    <UserName>$FUNC-AIS-ENT-DS-DTWIN-DOA-BCPDownloadSDxFiles</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-ais-ent-ds-dtwin-doa-bcpdownloadsdxfiles.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>